numpy
scipy
tables
pandas<=1.3.5  # https://github.com/pandas-dev/pandas/issues/51866 estimation.py 288
pyro-ppl>=0.3.2
torch
matplotlib
anndata>=0.7
loompy
ipython
jupyter
jupyter_contrib_nbextensions
psutil
